<div class="row">
	<!-- ADD HERO -->

	<div class="col-xs-5">
		<div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" ng-model="htitle" class="form-control" placeholder="Title">
    	</div>
		<div class="form-group">
		    <label for="title">Poster</label>
		    <input type="text" ng-model="photo" class="form-control" placeholder="Hero Photo">
    	</div>
		<div class="form-group">
		    <label for="title">City</label>
		    <input type="text" ng-model="city" class="form-control" placeholder="City">
    	</div>
		<div class="form-group">
		    <label for="title">Power</label>
		    <input type="range" ng-model="power" min="0" max="10" class="form-control" >
    	</div>
  
    <button ng-click="addHero()" class="btn btn-default">Add Hero</button>
	</div>
	<!-- HERO LIST -->
	<div class="col-xs-7">
		<table class="table">
	<tr>
		<th>Sl #</th>
		<th>Title</th>
		<th>Poster</th>
		<th>City</th>
		<th>Power</th>
		<th>Movies Acted</th>
	</tr>
	<tr ng-repeat="hero in data.heros">
		<td>{{ hero.id }}</td>
		<td>{{ hero.title }}</td>
		<td><img class="img-thumbnail" ng-src="{{ hero.photo }}" align="absmiddle" width="50" /></td>
		<td>{{ hero.city }}</td>
		<td><input type="range" ng-value="{{ hero.power }}" min="0" max="10" /></td>
		<td><a class="btn btn-primary" href="#/movies/{{ hero.title|lowercase }}">{{ hero.movieslist.length }}</a></td>
	</tr>
	</table>
		
	</div>
</div>